*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Space Grotesk',sans-serif;

background:#171A20;

color:white;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(circle at 10% 20%,rgba(47,129,247,.18),transparent 30%),

radial-gradient(circle at 90% 80%,rgba(47,129,247,.12),transparent 35%),

linear-gradient(#171A20,#1E232B);

z-index:-3;

}

.background-grid{

position:fixed;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.03) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.03) 1px,transparent 1px);

background-size:45px 45px;

animation:grid 20s linear infinite;

z-index:-2;

}

@keyframes grid{

to{

transform:translateY(45px);

}

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

position:sticky;

top:0;

backdrop-filter:blur(18px);

background:rgba(22,25,31,.55);

border-bottom:1px solid rgba(255,255,255,.05);

}

.logo{

display:flex;

gap:15px;

align-items:center;

}

.logo-icon{

width:42px;

height:42px;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2F81F7,#58B6FF);

border-radius:12px;

font-weight:bold;

}

nav a{

color:white;

text-decoration:none;

}

.hero{

text-align:center;

padding:90px 8%;

}

.hero h1{

font-size:4rem;

margin-bottom:20px;

}

.hero p{

max-width:700px;

margin:auto;

color:#B7C0CE;

line-height:1.8;

}

.products{

padding:30px 8% 120px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:40px;

}

.product{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(25px);

padding:40px;

border-radius:28px;

transition:.4s;

position:relative;

overflow:hidden;

}

.product::before{

content:"";

position:absolute;

width:180px;

height:180px;

background:#2F81F733;

border-radius:50%;

top:-90px;

right:-90px;

filter:blur(35px);

}

.product:hover{

transform:translateY(-12px);

border-color:#55AEFF;

box-shadow:0 0 45px rgba(47,129,247,.25);

}

.model{

display:inline-block;

padding:8px 18px;

background:#2F81F722;

border-radius:30px;

color:#6DBDFF;

margin-bottom:20px;

}

.product h2{

font-size:2rem;

margin-bottom:20px;

}

.product p{

line-height:1.9;

color:#BAC4D2;

}

footer{

text-align:center;

padding:70px;

border-top:1px solid rgba(255,255,255,.08);

}

.btn{

display:inline-block;

margin-top:30px;

padding:15px 35px;

border-radius:50px;

text-decoration:none;

background:linear-gradient(135deg,#2F81F7,#58B6FF);

color:white;

font-weight:600;

transition:.3s;

}

.btn:hover{

transform:translateY(-5px);

}

@media(max-width:800px){

.hero h1{

font-size:2.8rem;

}

.products{

grid-template-columns:1fr;

}

}